---
layout: base
title: Lucht Onderhoud - The Climate Changers
permalink: '/'
heading: Ventilatie, ventilatie met warmteterugwinning, algemeen lucht onderhoud voor Utrecht & Amsterdam
---

<div class="landing">
    <div class="hero">
        <div class="logo">{% image "src/assets/images/logo.webp", "", "climate changers logo", "(min-width: 30em) 50vw, 100vw" %}</div>
        <div class="hero__content">
            <h1 class="hero__header">
                <span>
                    Lucht Onderhoud
                </span>
                <span>
                    Ventilatie
                </span>
                <span>
                    Warmteterugwinning
                </span>
            </h1>
            <a id="ecc-1233-505607" class="hero__info"></a>
            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function() {
                    var anchor = document.getElementById("ecc-1233-505607");
                    if (anchor) {
                        var charCodes = [43, 51, 49, 54, 52, 49, 54, 56, 49, 54, 53, 54];
                        var phoneNumber = "";
                        for (var i = 0; i < charCodes.length; i++) {
                            phoneNumber += String.fromCharCode(charCodes[i]);
                        }
                        anchor.href = "tel:" + phoneNumber;

                        var textCharCodes = [48, 54, 32, 52, 49, 32, 54, 56, 32, 49, 54, 32, 53, 54];
                        var displayText = "";
                        for (var j = 0; j < textCharCodes.length; j++) {
                            displayText += String.fromCharCode(textCharCodes[j]);
                        }
                        anchor.textContent = displayText;
                    }
                });
            </script>
            <div class="hero__icons">
                <a id="eeb-8845-407404">
                    {% svgsprite %}
                    {% icon "email" %}
                </a>
                <script type="text/javascript">
                    document.addEventListener("DOMContentLoaded", function() {
                        var anchor = document.getElementById("eeb-8845-407404");
                        if (anchor) {
                            var chars = [105, 110, 102, 111, 64, 99, 108, 105, 109, 97, 116, 101, 99, 104, 97, 110, 103, 101, 114, 115, 46, 110, 108];
                            var email = "";
                            for (var i = 0; i < chars.length; i++) {
                                email += String.fromCharCode(chars[i]);
                            }
                            anchor.href = "mailto:" + email;
                        }
                    });

                </script>
                <a href="https://t.me/spencerflagg" target="_blank">
                    {% svgsprite %}
                    {% icon "telegram" %}
                </a>
                <a id="ygg-4568-234544" target="_blank">
                    {% svgsprite %}
                    {% icon "whatsapp" %}
                </a>
                <script type="text/javascript">
                    document.addEventListener("DOMContentLoaded", function() {
                        var anchor = document.getElementById("ygg-4568-234544");
                        if (anchor) {
                            var baseUrlChars = [104, 116, 116, 112, 115, 58, 47, 47, 119, 97, 46, 109, 101, 47];
                            var phoneChars = [48, 48, 51, 49, 54, 52, 49, 54, 56, 49, 54, 53, 54];
                            
                            var baseUrl = "";
                            for (var i = 0; i < baseUrlChars.length; i++) {
                                baseUrl += String.fromCharCode(baseUrlChars[i]);
                            }

                            var phoneNumber = "";
                            for (var j = 0; j < phoneChars.length; j++) {
                                phoneNumber += String.fromCharCode(phoneChars[j]);
                            }

                            anchor.href = baseUrl + phoneNumber;
                        }
                    });

                </script>
            </div>
        </div>
    </div>
</div>
<div class="bkg">
    {% image "src/assets/images/winter.png", "bkg--winter", "winter netherlands city", "(min-width: 30em) 50vw, 100vw" %}
    {% image "src/assets/images/summer.png", "bkg--summer", "summer netherlands city", "(min-width: 30em) 50vw, 100vw" %}
</div>