* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Bitter','Bookman Old Style',serif; 
}

@font-face {
  font-family: 'Basis Grotesque Mono Pro Light';
  src: url('/assets/fonts/basis-grotesque-mono-pro/BasisGrotesqueMonoPro-Light.eot');
  src: url('/assets/fonts/basis-grotesque-mono-pro/BasisGrotesqueMonoPro-Light.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/basis-grotesque-mono-pro/BasisGrotesqueMonoPro-Light.woff2') format('woff2'),
       url('/assets/fonts/basis-grotesque-mono-pro/BasisGrotesqueMonoPro-Light.woff') format('woff'),
       url('/assets/fonts/basis-grotesque-mono-pro/BasisGrotesqueMonoPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}